# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#custom
*gry*
*haohao*
*bak*
.idea
gen
ns
nstk
indep-utils/cmu-scen-gen/setdest/setdest
indep-utils/webtrace-conv/dec/dec-tr-stat
indep-utils/webtrace-conv/epa/epa-tr-stat
indep-utils/webtrace-conv/nlanr/nlanr-tr-stat
indep-utils/webtrace-conv/ucb/ucb-tr-stat
*.log
